<div class="search-modal-backdrop data-backdrop">
    <div class="search-modal">
        <a class="close-search-modal-button data-modal-close">
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M14 1.41L12.59 0L7 5.59L1.41 0L0 1.41L5.59 7L0 12.59L1.41 14L7 8.41L12.59 14L14 12.59L8.41 7L14 1.41Z"
                    fill="white" />
            </svg>
        </a>
        <form action="" class="search-form">
            <input type="text" name="" class="search-input" id="" placeholder=" ПОШУК ">
            <svg class="search-btn" width="24" height="24" viewBox="0 0 24 24" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M12.5 11H11.71L11.43 10.73C12.41 9.59 13 8.11 13 6.5C13 2.91 10.09 0 6.5 0C2.91 0 0 2.91 0 6.5C0 10.09 2.91 13 6.5 13C8.11 13 9.59 12.41 10.73 11.43L11 11.71V12.5L16 17.49L17.49 16L12.5 11ZM6.5 11C4.01 11 2 8.99 2 6.5C2 4.01 4.01 2 6.5 2C8.99 2 11 4.01 11 6.5C11 8.99 8.99 11 6.5 11Z"
                    fill="white" />
            </svg>
        </form>


    </div>

</div>



{{!-- <div class="add-modal__backdrop is-hidden" data-modal>
    <div class="add-modal__block">
        <button type="button" class="add-modal__close-button">
            <svg class="close-icon" width="24" height="24" viewBox="0 0 24 24" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41Z"
                    fill="black" />
            </svg>
        </button>

        <form action="" class="add-modal__form">
            <h1 class="add-modal__title">
                Додати оголошення
            </h1>
            <div class="modal__form-block">
                <input type="text" name="product-name" id="product-name" placeholder=" ">
                <label for="product-name" class="form-label">Назва товару</label>
            </div>
            <div class="modal__form-block modal__photo-block">
                <div class="photo-block" name="photo-block" id="photo-block">
                    <div class="add-photo">
                        <p class="add-photo__plus">+</p>
                    </div>
                    <div class="add-photo">
                        <p class="add-photo__plus">+</p>
                    </div>
                    <div class="add-photo">
                        <p class="add-photo__plus">+</p>
                    </div>
                    <div class="add-photo">
                        <p class="add-photo__plus">+</p>
                    </div>
                    <div class="add-photo">
                        <p class="add-photo__plus">+</p>
                    </div>

                </div>
                <label for="photo-block" class="form-label">Фото</label>
            </div>
            <div class="modal__form-block">
                <textarea name="product-description" id="product-description" cols="30" rows="10"></textarea>
                <label for="product-description" class="form-label">Опис товару</label>
            </div>
            <div class="modal__form-block">
                <input type="text" name="product-category" id="product-category">
                <label for="product-category" class="form-label">Категорія товару</label>
            </div>
            <div class="modal__form-block">
                <input type="text" name="product-price" id="product-price" placeholder="0.00 грн">
                <label for="product-price" class="form-label">Ціна</label>
            </div>
            <div class="modal__form-block">
                <input type="tel" name="tel-number" id="tel-number" placeholder="+38 (0--) --- -- --">
                <label for="tel-number" class="form-label">Телефон</label>
            </div>

        </form>
        <div class="modal__button-block">
            <button type="button" class="add-button" aria-label="add-button">
                Додати
            </button>
        </div>

    </div>
</div> --}}