@import './scss/variables.scss';
/* @import './scss/header.scss'; */
/* @import './scss/body.scss'; */
/* @import './scss/footer'; */
/* @import './scss/components/add-modal-styles'; */
/* @import './scss/components/redaction-modal-styles'; */
/* @import './scss/body.scss'; */
@import './scss/normalize.scss';
/* @import './scss/reg-modal.scss'; */
/* @import './scss/searchModal.scss'; */
@import './scss/productModal.scss';
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  /*
   * CSS image reference example.
   */
  /* background-image: url('./images/bg-pattern.png'); */
}

/*Цветовая панель*/
/*Шрифты*/
/* .header {
  position: relative;
} */

@media screen and (max-width: 1199px) {
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    overflow-y: scroll;
  }
}

@media screen and (max-width: 767px) {
  .search {
    position: absolute;
    top: 28px;
    right: 25px;
  }
}

@media screen and (min-width: 768px) {
  .search {
    position: absolute;
    top: 28px;
    left: 24px;
  }
}

.logo {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 1.25;
  text-transform: uppercase;
  color: #000000;
}

@media screen and (max-width: 767px) {
  .logo {
    position: absolute;
    top: 30px;
    right: 40%;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 149px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 378px;
  }
}

@media screen and (max-width: 767px) {
  .btn {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .btn {
    width: 178px;
    height: 70px;
    background-color: #ff6b09;
    padding: 29px 15px;
    font-family: Roboto;
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 1.2;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
  }
}

@media screen and (min-width: 768px) {
  .btn {
    margin-left: 19px;
  }
}

@media screen and (max-width: 1199px) {
  .modal_menu {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 70px;
    width: 305px;
    height: 1024px;
    background-color: #f5f6fb;
  }
}

.modal_menu.is-open {
  display: block;
}

.info__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.header__nav {
  border: 1px solid #e2e3e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

@media screen and (max-width: 1199px) {
  .header__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .header__nav .header__link + .header__link {
    border-top: 1px solid #e2e3e5;
  }
}

@media screen and (min-width: 1200px) {
  .header__nav {
    padding: 27px 0 26px 0px;
  }
  .header__nav .header__link + .header__link {
    margin-left: 40px;
  }
}

@media screen and (max-width: 1199px) {
  .login__btn {
    position: absolute;
    top: 102px;
    left: 65px;
    z-index: 2;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 1.17;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    outline: none;
    border: none;
    background-color: #f5f6fb;
  }
}

@media screen and (min-width: 1200px) {
  .login__btn {
    position: absolute;
    top: 25px;
    right: 230px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 1.17;
    color: #000000;
    text-decoration: none;
    margin-left: 229px;
    text-transform: uppercase;
    border: none;
    background-color: #e5e5e5;
  }
}

.header__link {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.14;
  color: #000000;
  text-decoration: none;
}

@media screen and (max-width: 1199px) {
  .header__link {
    width: 100%;
    padding: 27px 0 26px 34px;
  }
}

.clear {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 1.25;
  color: #000000;
}

@media screen and (max-width: 767px) {
  .clear {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .clear {
    margin-left: 14px;
  }
}

@media screen and (max-width: 767px) {
  .replay {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .replay {
    margin-left: 12px;
  }
}

@media screen and (max-width: 767px) {
  .user__profile-header {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .user__profile-header {
    position: absolute;
    top: 25px;
    right: 28%;
  }
}

@media screen and (min-width: 1200px) {
  .user__profile-header {
    display: none;
  }
}

.user__profile-menu {
  width: 100%;
  padding: 27px 0 26px 34px;
  border-bottom: 1px solid #e2e3e5;
}

@media screen and (min-width: 1200px) {
  .user__profile-menu {
    display: none;
  }
}

.menu-button {
  position: absolute;
  border: none;
  outline: none;
  background-color: #ffffff;
}

@media screen and (max-width: 767px) {
  .menu-button {
    top: 30px;
    left: 30px;
  }
}

@media screen and (min-width: 768px) {
  .menu-button {
    top: 100px;
    left: 25px;
  }
}

@media screen and (min-width: 1200px) {
  .menu-button {
    display: none;
  }
}

.close-button {
  position: absolute;
  top: 30px;
  right: 24px;
  border: none;
  outline: none;
  background-color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .close-button {
    display: none;
  }
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 1199px) {
  .filter {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    border: 1px solid #e2e3e5;
    padding: 24px 20px 30px 0px;
  }
}

@media screen and (min-width: 1200px) {
  .filter {
    position: absolute;
    top: 97px;
    right: 42px;
  }
}

.body {
  background-color: #e5e5e5;
}

.container {
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
}

.footer {
  display: none;
  height: 121px;
  background-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .footer {
    height: 83px;
  }
}

.footer-container {
  padding-left: 15px;
  padding-top: 39px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 34px;
  }
}

p {
  margin: 0;
}

.mobile-first-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.first-section-footer {
  position: relative;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .first-section-footer {
    margin-bottom: 0;
    margin-right: 19px;
  }
}

.copyright-icon {
  margin-right: 5px;
}

.heart-icon {
  margin-right: 7px;
  margin-left: 7px;
}

.date-footer {
  margin-right: 18px;
}

.second-section-footer {
  position: relative;
}

.rights-footer::before {
  content: '';
  position: absolute;
  left: 55px;
  top: -3px;
  height: 20px;
  width: 1px;
  display: inline-block;
  background-color: #e2e3e5;
}

@media screen and (min-width: 768px) {
  .dev-with-footer::before {
    content: '';
    position: absolute;
    left: -9px;
    top: -3px;
    height: 20px;
    width: 1px;
    display: inline-block;
    background-color: #e2e3e5;
  }
}

.goit-footer {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

.add-modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  overflow-y: scroll;
}

.add-modal__block {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  outline: 2px solid royalblue;
  background-color: #ffffff;
}

@media screen and (max-width: 767px) {
  .add-modal__block {
    width: 290px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .add-modal__block {
    width: 724px;
    max-height: 698px;
  }
}

@media screen and (min-width: 1200px) {
  .add-modal__block {
    width: 861px;
  }
}

@media screen and (max-width: 767px) {
  .add-modal__form {
    margin-right: 19px;
    margin-left: 19px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .add-modal__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 54px;
    margin-left: 54px;
  }
}

@media screen and (min-width: 1200px) {
  .add-modal__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 105px;
    margin-left: 105px;
  }
}

.add-modal__close-button {
  position: absolute;
  top: 25px;
  right: 24px;
  background-color: #ffffff;
  border: none;
}

@media screen and (max-width: 767px) {
  .add-modal__close-button {
    top: 15px;
    right: 14px;
  }
}

.add-modal__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.02em;
  margin-top: 54px;
  margin-bottom: 30px;
}

.modal__form-block {
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .modal__form-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .modal__form-block:last-child {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .modal__form-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .modal__form-block:last-child {
    margin-bottom: 41px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .modal__form-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .modal__form-block:last-child {
    margin-bottom: 41px;
  }
}

.modal__form-block input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 56px;
  padding-right: 23px;
  padding-left: 23px;
  border: 1px solid #bbbbbb;
  font-size: 100%;
  color: #bbbbbb;
}

@media screen and (max-width: 767px) {
  .modal__form-block input {
    width: 251px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .modal__form-block input {
    width: 458px;
  }
}

@media screen and (min-width: 1200px) {
  .modal__form-block input {
    width: 440px;
  }
}

.modal__form-block .form-label {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .modal__form-block .form-label {
    margin: 10px;
  }
}

.modal__form-block textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 23px;
  padding-left: 23px;
  resize: vertical;
  width: 440px;
  max-height: 56px;
  border: 1px solid #bbbbbb;
  font-size: 100%;
  color: #bbbbbb;
}

@media screen and (max-width: 767px) {
  .modal__form-block textarea {
    width: 251px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .modal__form-block textarea {
    width: 458px;
  }
}

@media screen and (min-width: 1200px) {
  .modal__form-block textarea {
    width: 440px;
  }
}

.modal__photo-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.photo-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .photo-block {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.add-photo {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f5f6fb;
}

@media screen and (max-width: 767px) {
  .add-photo {
    width: 77px;
    height: 45px;
    margin: 0.2em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .add-photo {
    width: 84px;
    height: 50px;
    margin-right: 10px;
  }
  .add-photo:last-child {
    margin-right: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .add-photo {
    width: 78px;
    height: 50px;
    margin-right: 10px;
  }
}

.add-photo .add-photo__plus {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #bbbbbb;
}

.modal__button-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.modal__button-block .add-button {
  width: 210px;
  height: 60px;
  margin: 21px;
  background-color: #ff6b09;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .modal__button-block .add-button {
    width: 251px;
    height: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .modal__button-block .add-button {
    width: 266px;
    height: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .modal__button-block .add-button {
    width: 210px;
    height: 60px;
  }
}

::-webkit-input-placeholder {
  color: #bbbbbb;
}

::-moz-placeholder {
  color: #bbbbbb;
}

/* Firefox 19+ */
:-moz-placeholder {
  color: #bbbbbb;
}

/* Firefox 18- */
:-ms-input-placeholder {
  color: #bbbbbb;
}

.body {
  background-color: #e5e5e5;
}

.container {
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}

a {
  text-decoration: none;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

hr {
  height: 0;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type='button'],
[type='reset'],
[type='submit'],
button {
  -webkit-appearance: button;
}

[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

.is-hidden {
  display: none;
}

.backdrop-overlay {
  position: relative;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
}

.modal-registration {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
  background-color: #f5f6fb;
  padding: 60px 18px;
}

@media screen and (min-width: 768px) {
  .modal-registration {
    padding: 67px 103px;
  }
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  outline: none;
  background-color: transparent;
}

.google-auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 18px 33px;
  margin-top: 20px;
  margin-bottom: 40px;
  width: 142px;
  height: 51px;
  border: none;
  outline: none;
  background-color: #fff;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .google-auth {
    margin-top: 34px;
  }
}

.google-icon {
  margin-right: 10px;
}

.modal-reg-text {
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #000000;
}

.reg-form {
  margin-top: 20px;
  display: block;
}

.reg-form input {
  width: 100%;
  height: 56px;
  border: 1px solid #bbbbbb;
  text-indent: 25px;
  padding: 0;
}

.email-input {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .email-input {
    margin-bottom: 25px;
  }
}

.password-input {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .password-input {
    margin-bottom: 47px;
  }
}

.reg-form-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.auth-btns {
  width: 100%;
  height: 50px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.02em;
}

.entry-btn {
  margin-right: 15px;
  background: #ff6b09;
  border: none;
  outline: none;
  cursor: pointer;
  color: #ffffff;
}

.entry-btn:hover {
  color: #000;
  background: #ffffff;
}

.reg-btn {
  background: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  color: #000;
}

.reg-btn:hover {
  color: #ffffff;
  background: #ff6b09;
}
