.header {
    position: relative;
}

.backdrop{
    
    @media screen and (max-width: 1199px) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $backdrop-color;
        overflow-y: scroll;
    }
}

.search {
    @media screen and (max-width: 767px) {
        position: absolute;
        top: 28px;
        right: 25px;
    }

    @media screen and (min-width: $tablet) {
        position: absolute;
        top: 28px;
        left: 24px;
    }
}

.logo {
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;

    letter-spacing: 1.25;
    text-transform: uppercase;

    color: $black-color;

    @media screen and (max-width: 767px) {
        position: absolute;
        top: 30px;
        right: 40%;
    }

    @media screen and (min-width: $tablet) {
        margin-right: 149px;
    }

    @media screen and (min-width: $desktop) {
        margin-right: 378px;
    } 
}

.btn {
    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: $tablet) {
        width: 178px;
        height: 70px;
        background-color:$btn-color;
        padding: 29px 15px;
        font-family: $basic-font;
        font-size: 10px;
        font-weight: 500;
        line-height: 12px;
        letter-spacing: 1.2;
        text-align: center;
        text-transform: uppercase;
        color: $white-color;
        border: none;
    }
    @media screen and (min-width: $tablet) {
        margin-left: 19px;
    }
}

.modal_menu {
    @media screen and (max-width: 1199px) {
        
        position: absolute;
        top: 0;
        left: 0;

        padding-top: 70px;
        width: 305px;
        height: 1024px;

        background-color: $menu-color;
    }

    &.is-open {
        display: block;
    }
}

.info__content {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}

.header__nav {
    border: 1px solid $border-color;
    display: flex;
    align-items: flex-start;
    align-items: baseline;

    @media screen and (max-width: 1199px) {
        flex-direction: column;
        .header__link + .header__link {
            border-top: 1px solid $border-color;
            
        }
    }

    @media screen and (min-width: $desktop) {
        padding: 27px 0 26px 0px;
        .header__link + .header__link {
            margin-left: 40px;
        }
    }
}

.login__btn {
    @media screen and (max-width: 1199px) {
        position: absolute;
        top: 102px;
        left: 65px;
        z-index: 2;
        font-family: $basic-font;
        font-size: 12px;
        font-weight: 500;
        line-height: 14px;
        letter-spacing: 1.17;
        color: $black-color;
        text-decoration: none;
        text-transform: uppercase;
        outline: none;
        border: none;
        background-color: $menu-color;
        
    }

    @media screen and (min-width: $desktop) {
        position: absolute;
        top: 25px;
        right: 230px;
        font-family: $basic-font;
        font-size: 12px;
        font-weight: 500;
        line-height: 14px;
        letter-spacing: 1.17;
        color: $black-color;
        text-decoration: none;
        margin-left: 229px;
        text-transform: uppercase;
        border: none;
        background-color: $body-color;
    }
}

.header__link {
    font-family: $basic-font;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.14;
    color: $black-color;
    text-decoration: none;

    @media screen and (max-width: 1199px) {
        width: 100%;
        padding: 27px 0 26px 34px;
    }
}

.clear {
    font-family: $secondary-font;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 1.25;
    color: $black-color;

    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: $tablet) {
        margin-left: 14px;
    }
}

.replay {
    @media screen and (max-width: 767px) {
        display: none;
    }
    @media screen and (min-width: $desktop) {
        margin-left: 12px;
    }
}

.user__profile-header {
    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (max-width: $tablet) {
        position: absolute;
        top: 25px;
        right: 28%;
    }

    @media screen and (min-width: $desktop) {
        display: none;
    }
}

.user__profile-menu {
    width: 100%;
    padding: 27px 0 26px 34px;
    border-bottom: 1px solid $border-color;
    @media screen and (min-width: $desktop) {
        display: none;
    }
}

.menu-button {
    position: absolute;
    border: none;
    outline: none;
    background-color: $white-color;

    @media screen and (max-width: 767px) {
        top: 30px;
        left: 30px;
    }

    @media screen and (min-width: $tablet) {
        top: 100px;
        left: 25px;
    }

    @media screen and (min-width: $desktop) {
        display: none;
    }
}

.close-button {
    position: absolute;
    top: 30px;
    right: 24px;
    border: none;
    outline: none;
    background-color: $white-color;
    @media screen and (min-width: $desktop) {
        display: none;
    }
}

.filter {
        display: flex;
        align-items: center;

    @media screen and (max-width: 1199px) {
        justify-content: flex-end;
        border: 1px solid $border-color;
        padding: 24px 20px 30px 0px;
    }

    @media screen and (min-width: $desktop) {
        position: absolute;
        top: 97px;
        right: 42px;
    }
}