$mobile: 320px;
$tablet: 768px;
$desktop: 1200px;

/*Цветовая панель*/

$body-color: #e5e5e5;
$menu-color: #f5f6fb;
$white-color: #ffffff;
$black-color: #000000;
$btn-color: #ff6b09;
$backdrop-color: rgba(0, 0, 0, 0.7);
$input-color: #bbbbbb;
$border-color: #e2e3e5;

/*Шрифты*/

$basic-font: Roboto;
$secondary-font: Montserrat;
/* font-family: 'Montserrat', sans-serif; */
