$mobile: 320px;
$tablet: 768px;
$desktop: 1200px;

/*Цветовая панель*/

$body-color: #E5E5E5;
$menu-color: #F5F6FB;
$white-color: #ffffff;
$black-color: #000000;
$btn-color: #FF6B09;
$backdrop-color: rgba(0, 0, 0, 0.7);
$input-color: #BBBBBB;
$border-color: #E2E3E5;

/*Шрифты*/

$basic-font: Roboto;
$secondary-font: Montserrat;